@model MvcApplication1.Models.PessoaModel

@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout.cshtml";
}

<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Details</title>
</head>
<body>
    <fieldset>
        <legend>PessoaModel</legend>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Nome)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Nome)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.NomeMae)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NomeMae)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.NomePai)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.NomePai)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.DataNascimento)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.DataNascimento)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.RG)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.RG)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.CPF)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.CPF)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.Estrangeiro)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.Estrangeiro)
        </div>
    
        <div class="display-label">
             @Html.DisplayNameFor(model => model.IdentidadeEstrangeira)
        </div>
        <div class="display-field">
            @Html.DisplayFor(model => model.IdentidadeEstrangeira)
        </div>

    </fieldset>
    <p>
        @Html.ActionLink("Listar", "Index")
    </p>
</body>
</html>
